html,
body,
#root {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 14px;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: rgb(30, 30, 30);
  --mid-grey: rgb(100, 100, 100);
  --light-grey: rgb(210, 210, 210);
}

div {
  box-sizing: border-box;
  display: flex;
}

.main-container {
  align-items: center;
  justify-content: center;
  flex: 1;
}

.middle-container {
  background-color: white;
  padding-top: 50px;
  align-items: center;
  width: 250px;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}
.calendar-controls {
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.calendar-controls svg {
  cursor: pointer;
  padding-left: 10px;
  color: var(--blue);
}

.calendar-widget {
  width: 100%;
}

.calendar-table {
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--light-grey);
  padding: 3px;
}

.calendar-row {
  width: 100%;
  justify-content: space-evenly;
}

.calendar-cell {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  background-color: var(--white);
}

.calendar-cell:hover,
.calendar-cell.selected {
  background-color: var(--blue);
  color: white;
  transition: 0.6s ease;
}

.calendar-cell.disabled {
  color: var(--mid-grey);
}
.diff-month {
  pointer-events: none;
  opacity: 0;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

form,
.booking-widget {
  width: 100%;
  position: relative;
}

form > div {
  transition: 0.7s ease;
  position: absolute;
  width: 100%;
}

input,
button {
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid var(--light-grey);
  outline: none !important;
  font-family: inherit;
  text-align: center;
  font-size: 14px;
  caret-color: transparent;
  cursor: pointer;
}

button {
  border: none;
  background-color: var(--blue);
  color: white;
}

.input-container {
  position: relative;
  margin: 3px 0;
}

.input-container svg,
.covers-picker .option svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  color: var(--blue);
  width: 26px !important;
  height: auto !important;
}

.time-picker .am-pm .row .cell {
  margin: 0 1.5px;
}

.time-picker .cell {
  height: 30px;
  border: 1px solid var(--light-grey);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: calc(calc(100% / 4) - 2px);
  cursor: pointer;
}

.time-picker .am-pm .row {
  justify-content: center;
}

.time-picker .row {
  flex: 1;
  margin-bottom: 3px;
  justify-content: space-between;
}

.time-picker,
.hours {
  flex-direction: column;
}

.time-picker .cell.selected {
  border: 0;
  background-color: var(--blue);
  color: white;
}
hr {
  height: 1px;
  width: 100%;
  background-color: var(--light-grey);
  border: 0;
  padding: 0;
  margin: 10px 0 12px 0;
}
.covers-picker,
.search-form,
.calendar {
  flex-direction: column;
}
.covers-picker .option {
  width: 100%;
  margin-bottom: 3px;
  height: 30px;
  border: 1px solid var(--light-grey);
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 13px;
  cursor: pointer;
}
p {
  font-size: 13px;
  text-align: center;
  margin: 0;
}

.covers-picker .option.selected {
  border: 0;
  color: white;
  background: var(--blue);
}
.covers-picker .option.selected svg {
  color: white !important;
}
.done {
  width: 100%;
  font-size: 13px;
  background-color: var(--blue);
  color: white;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
